page-echeances {
  .top-item{
    padding-bottom:20px;
  }
  .one-line{
    float:left;
    display: inline-block;
    width: 100%;
    font-size: 14pt;
    .left-side{
      float:left;
      width:50%;
    }
    .right-side{
      width:50%;
      float:left;
      font-weight: bold;
    }
  }
}

page-show-echeance{
  .one-line{
    float:left;
    display: inline-block;
    width: 100%;
    font-size: 14pt;
    .left-side{
      float:left;
      width:60%;
    }
    .right-side{
      width:40%;
      float:left;
      font-weight: bold;
    }
  }
}