page-simulation {
  .btn-margin{
    margin-top: 30px;
  }
}

page-resultats{
  .one-line{
    float:left;
    display: inline-block;
    width: 100%;
    font-size: 12pt;
    .left-side{
      float:left;
      width:50%;
    }
    .right-side{
      width:50%;
      float:left;
      font-weight: bold;
      white-space: normal;
      padding-left: 10px;
    }
  }
}