page-abonnement {
  .btn-margin{
    margin-top: 30px;
  }

  .check ion-label{
    white-space: normal !important;
  }

  .swiper-slide{
    padding: 0 1px;
  }
  .one-line{
    float:left;
    display: inline-block;
    width: 100%;
    text-align: left;
    font-size: 13pt;
    .left-side{
      float:left;
      width:50%;
    }
    .right-side{
      width:50%;
      float:left;
      font-weight: bold;
      white-space: normal;
      padding-left: 10px;
    }
  }
  .card-header-ios {
    font-size: 1.9rem !important;
  }
  ion-slides {
    height: auto !important;
  }
  .slide-zoom{
    height:100%;
    overflow-y: auto;
  }
}
