<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{"inscription"| translate}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <ion-segment [(ngModel)]="steps">
    <ion-segment-button disabled="true" value="step1">
      {{"etape1"| translate}}
    </ion-segment-button>
    <ion-segment-button disabled="true" value="step2">
      {{"etape2"| translate}}
    </ion-segment-button>
  </ion-segment>

  <ion-slides >
    <div [ngSwitch]="steps">
      <div *ngSwitchCase="'step1'">
        <ion-slide>
          <ion-card>
            <ion-card-content>
             {{"register_msg"| translate}}
            </ion-card-content>
          </ion-card>

          <form #authForm="ngForm"  *ngIf="active" >

            <ion-item>
              <ion-label floating>{{"titre"| translate}}</ion-label>
              <ion-select [(ngModel)]="user.titre" name="titre"
              class="form-control" required #name="ngModel">
                <ion-option value="MR" selected="selected">{{"mr"| translate}}</ion-option>
                <ion-option value="MME" >{{"mme"| translate}}</ion-option>
                <ion-option value="MLLE" >{{"mlle"| translate}}</ion-option>
              </ion-select>
            </ion-item>

            <ion-item>
              <ion-label floating>{{"nom"| translate}}</ion-label>
              <ion-input type="text" [(ngModel)]="user.name" name="name"
              class="form-control" required #name="ngModel" >
              </ion-input>
            </ion-item>

            <ion-item>
              <ion-label floating>{{"prenom"| translate}}</ion-label>
              <ion-input type="text" [(ngModel)]="user.prenom" name="prenom"
              class="form-control" required #name="ngModel" >
              </ion-input>
            </ion-item>

            <ion-item>
              <ion-label floating>{{"identifiant"| translate}} </ion-label>
              <ion-input type="text" [(ngModel)]="user.piece_identite"
              name="piece_identite" class="form-control" required #name="ngModel">
              </ion-input>
            </ion-item>

            <button ion-button type="button" class="btn-margin" block
            (click)="goForward(2)" [disabled]="!authForm.form.valid">{{"suivant"| translate}}
            </button>

          </form>
        </ion-slide>

      </div>

      <div *ngSwitchCase="'step2'">
        <ion-slide>
          <form #authForm2="ngForm"  *ngIf="active" >

            <ion-item>
              <ion-label floating>{{"email"| translate}} </ion-label>
              <ion-input type="email" [(ngModel)]="user.email" name="email"
              class="form-control" required #name="ngModel"  pattern="[A-Za-z0-9._%+-]{3,}@[a-zA-Z]{3,}([.]{1}[a-zA-Z]{2,}|[.]{1}[a-zA-Z]{2,}[.]{1}[a-zA-Z]{2,})">
              </ion-input>
            </ion-item>

            <ion-item>
              <ion-label floating>{{"password"| translate}} </ion-label>
              <ion-input type="password" [(ngModel)]="user.mot_de_passe"
              name="mot_de_passe" class="form-control" required #name="ngModel" >
              </ion-input>
            </ion-item>

            <ion-item>
              <ion-label floating>{{"tel"| translate}} </ion-label>
              <ion-input type="tel" [(ngModel)]="user.telephone" name="telephone"
              class="form-control" required #name="ngModel" >

              </ion-input>
            </ion-item>

            <ion-item class="btn-margin">
              <ion-label>{{"conditions"| translate}}</ion-label>
              <ion-checkbox color="dark" checked="false" [(ngModel)]="user.accept"
                name="accept" class="form-control" (ionChange)="openModal($event)"
                required #name="ngModel">
              </ion-checkbox>
            </ion-item>

            <button ion-button type="button" class="btn-margin" block
            (click)="register()" [disabled]="!authForm2.form.valid">{{"valider"| translate}}
            </button>
            <button ion-button type="button" class="" block
            (click)="getBack(1)" >{{"precedent"| translate}}
            </button>

          </form>
        </ion-slide>
      </div>
    </div>
  </ion-slides>
</ion-content>