page-contact {
  .appel{
      color:#fff;
  }
  .titre{
    background-color: #fff !important;
    cursor: default;
    color: #000;
    width: 100%;
    height: 2.8em;
    font-size: 2rem;
    padding: 0 1em;
  }
}
