<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{"Accueil"| translate}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <div class="slides-container">
    <ion-slides pager="true">
      <ion-slide>
        <img src="assets/images/step.jpg" />
      </ion-slide>
      <ion-slide>
        <img src="assets/images/radeema.jpg" />
      </ion-slide>
    </ion-slides>
  </div>
  <ion-list *ngIf=" first === '1'" class="choice">
    <button ion-item (click)=" choice = '1'; first = '0' ">
      <ion-icon name="card" item-left></ion-icon>
        {{"Paiement Direct"| translate}}
      <ion-icon name="arrow-dropright-circle" item-right></ion-icon>
    </button>
    <button ion-item (click)=" choice = '2'; first = '0' ">
      <ion-icon name="person" item-left></ion-icon>
        {{"Accès Client"| translate}}
      <ion-icon name="arrow-dropright-circle" item-right></ion-icon>
    </button>
  </ion-list>
  <div *ngIf=" first === '0' ">
    <div  *ngIf=" choice === '1' ">
      <div class="text-center">
        <button ion-button center text-center outline (click)=" first = '1'">{{"Paiement"| translate}}</button>
      </div>
      <ion-card>
        <ion-card-content>
         {{"home_msg_1"| translate}}
        </ion-card-content>
      </ion-card>
    <!--   <form (ngSubmit)="sendContract()">
      <ion-item>
        <ion-input type="number" placeholder='{{"Numéro de contrat"| translate}}' [(ngModel)]="home.contract" name="contract"></ion-input>
        <button item-right ion-button center text-cente default  (click)="openLink()">{{"Valider"| translate}}</button>
      </ion-item>
      </form>
      -->
    <button  ion-button text-center default block (click)="openLink()">{{"pay"| translate}}</button>
    </div>
    <div *ngIf=" choice==='2'">
      <div class="text-center">
        <button ion-button center text-center outline (click)=" first = '1'">{{"Accès Client"| translate}}</button>
      </div>
      <div  *ngIf=" userName " class="card width100">
        <p>Bienvenue {{userName}} </p> <br>
        <button ion-button center text-center default block (click)=signout()>{{"signout"| translate}}</button>
      </div>
      <div  *ngIf=" !userName">
        <form (ngSubmit)="login()">
          <ion-list class="card width100">
            <ion-item>
             <ion-input type="email" placeholder='{{"Identifiant"| translate}}' name="login" [(ngModel)]="user.login"></ion-input>
            </ion-item>
            <ion-item>
             <ion-input type="password" placeholder='{{"Mot de passe"| translate}}' name="password" [(ngModel)]="user.password"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>{{"Mémoriser"| translate}}</ion-label>
              <ion-checkbox color="dark" checked="true"></ion-checkbox>
            </ion-item>
          </ion-list>
          <div class="link-login" (click)="forgot()"><a>{{"Mot de passe oublié?"| translate}}</a></div>
          <button ion-button center text-center default block type="submit">{{"Valider"| translate}}</button>
        </form>
          <button ion-button center text-center default block (click)=goToRegister()>{{"Créer Compte"| translate}}</button>
      </div>
    </div>
  </div>
</ion-content>