<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{"home" | translate}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <div class="slides-container">
    <ion-slides pager="true" autoplay="4000" loop="true" speed="2000">
      <ion-slide>
        <img src="assets/images/image_1.jpg" height="250px"/>
      </ion-slide>
      <ion-slide>
        <img src="assets/images/image_2.jpg" height="250px"/>
      </ion-slide>
      <ion-slide>
        <img src="assets/images/image_3.jpg" height="250px"/>
      </ion-slide>
    </ion-slides>
  </div>
  <ion-list *ngIf=" first === '1'" class="choice">
    <button ion-item (click)=" choice = '1'; first = '0' ">
      <ion-icon name="card" item-left></ion-icon>
        {{"direct_pay" | translate}}
      <ion-icon name="arrow-dropright" item-right></ion-icon>
    </button>
    <button ion-item (click)=" choice = '2'; first = '0' ">
      <ion-icon name="person" item-left></ion-icon>
        {{"access_cli" | translate}}
      <ion-icon name="arrow-dropright" item-right></ion-icon>
    </button>
  </ion-list>
  <div *ngIf=" first === '0' ">
    <div  *ngIf=" choice === '1' ">

      <div class="text-center">
        <button ion-button center text-center outline (click)=" first = '1'">{{"home" | translate}}</button>
      </div>

      <button  ion-button text-center default block (click)="openLink()">{{"pay" | translate}}</button>

    </div>
    <div *ngIf=" choice==='2'">
      <div class="text-center">
        <button ion-button center text-center outline (click)=" first = '1'">{{"home" | translate}}</button>
      </div>
      <div  *ngIf=" userName " class="card width100">
        <p> {{"welcome" | translate}} {{userName}} </p> <br>
        <button ion-button center text-center default block (click)=signout()>{{"signout" | translate}}</button>
      </div>
      <div  *ngIf=" !userName">
        <form (ngSubmit)="login()" #loginForm="ngForm">
          <ion-list class="card width100">
            <ion-item>
             <ion-input type="email" placeholder='{{"email" | translate}}' name="login" [(ngModel)]="user.login"  pattern="[A-Za-z0-9._%+-]{3,}@[a-zA-Z]{3,}([.]{1}[a-zA-Z]{2,}|[.]{1}[a-zA-Z]{2,}[.]{1}[a-zA-Z]{2,})" class="form-control" required></ion-input>
            </ion-item>
            <ion-item>
             <ion-input type="password" placeholder='{{"password" | translate}}' name="password" class="form-control" required [(ngModel)]="user.password"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>{{"memoriser" | translate}}</ion-label>
              <ion-checkbox color="dark" checked="true"></ion-checkbox>
            </ion-item>
          </ion-list>
<!--           <div class="link-login" (click)="forgot()"><a>{{"Mot de passe oublié?"| translate}}</a></div> -->
          <button ion-button center text-center default block type="submit" [disabled]="!loginForm.form.valid">{{"valider" | translate}}</button>
        </form>
          <button ion-button center text-center default block (click)=goToRegister()>{{"creer_comp"| translate}}</button>
      </div>
    </div>
  </div>
</ion-content>