<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{"Accueil"| translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="slides-container">
    <ion-slides pager="true">
      <ion-slide>
        <img src="assets/images/step.jpg" />
      </ion-slide>
      <ion-slide>
        <img src="assets/images/radeema.jpg" />
      </ion-slide>
    </ion-slides>
  </div>
  <ion-list *ngIf=" first === '1'" class="choice">
    <button ion-item (click)=" choice = '1'; first = '0' ">
      <ion-icon name="card" item-left></ion-icon>
        Paiement Direct
      <ion-icon name="arrow-dropright-circle" item-right></ion-icon>
    </button>
    <button ion-item (click)=" choice = '2'; first = '0' ">
      <ion-icon name="person" item-left></ion-icon>
        Accès Client
      <ion-icon name="arrow-dropright-circle" item-right></ion-icon>
    </button>
  </ion-list>
  <div *ngIf=" first === '0' ">
    <div  *ngIf=" choice === '1' ">
      <div class="text-center">
        <button ion-button center text-center outline (click)=" first = '1'">Paiement</button>
      </div>
      <ion-card>
        <ion-card-content>
         Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
        </ion-card-content>
      </ion-card>
      <form (ngSubmit)="sendContract()">
      <ion-item>
        <ion-input type="text" placeholder="Numéro de contrat" [(ngModel)]="home.contract" name="contract"></ion-input>
        <button item-right ion-button center text-cente default>Valider</button>
      </ion-item>
      </form>
    </div>
    <div *ngIf=" choice==='2'">
      <div class="text-center">
        <button ion-button center text-center outline (click)=" first = '1'">Accès Client</button>
      </div>
      <ion-list class="card width100">
        <ion-item>
         <ion-input type="text" placeholder="Login" name="login"></ion-input>
        </ion-item>
        <ion-item>
         <ion-input type="password" placeholder="Mot de passe" name="password"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Mémoriser</ion-label>
          <ion-checkbox color="dark" checked="true"></ion-checkbox>
        </ion-item>
      </ion-list>
        <div class="link-login"><a> Mot de passe oublié?</a></div>
      <button ion-button center text-center default block>Valider</button>
      <button ion-button center text-center default block>Créer Compte</button>
    </div>
  </div>
</ion-content>

