page-mes-contrats {
  .top-item{
    padding-bottom:20px;
  }
  .one-line{
    float:left;
    display: inline-block;
    width: 100%;
    font-size: 13pt;
    .left-side{
      float:left;
      width:50%;
    }
    .right-side{
      width:50%;
      float:left;
      font-weight: bold;
      padding-left: 2px;
    }
  }
}
