page-domiciliation{
  .btn-margin{
    margin-top: 30px;
  }

  .check ion-label{
    white-space: normal !important;
  }

  .swiper-slide{
    padding: 0 1px;
  }

  ion-slides {
    height: auto !important;
  }
  .slide-zoom{
    height:100%;
    overflow-y: auto;
  }
}

page-alert{
  .card-content li, .card-header {
    font-size: 13pt;
  }
}