<!--
  Generated template for the Demarches page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{"domiciliation" | translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-segment [(ngModel)]="steps">
    <ion-segment-button disabled="true" value="step1">
      {{"etape1" | translate}}
    </ion-segment-button>
    <ion-segment-button disabled="true" value="step2">
      {{"etape2" | translate}}
    </ion-segment-button>
  </ion-segment>
  <ion-slides >
    <div [ngSwitch]="steps">
      <div *ngSwitchCase="'step1'">
        <ion-slide>
          <form #userForm="ngForm"  *ngIf="active" >
            <ion-item>
              <ion-label floating> {{ "complete_name" | translate }} : * </ion-label>
              <ion-input type="text" [(ngModel)]="account.complete_name" name="complete_name" class="form-control" required #name="ngModel" ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label floating> {{ "cin" | translate }} : * </ion-label>
              <ion-input type="text" [(ngModel)]="account.cin" name="cin" class="form-control" required #name="ngModel"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label floating> {{ "adress_dom" | translate }} : * </ion-label>
              <ion-textarea [(ngModel)]="account.adress" name="adress" class="form-control" required #name="ngModel"></ion-textarea>
            </ion-item>
            <ion-item>
              <ion-label floating> {{"tel" | translate}} : </ion-label>
              <ion-input type="tel" [(ngModel)]="account.tel" name="tel"></ion-input>
            </ion-item>
            <button ion-button type="button" class="btn-margin" block (click)="goForward(2)" [disabled]="!userForm.form.valid">{{ "suivant" | translate}}</button>
          </form>
        </ion-slide>
      </div>
      <div *ngSwitchCase="'step2'">
        <ion-slide >
          <form #bankForm="ngForm"  *ngIf="active">
            <ion-item>
              <ion-label floating> {{"bank_name" | translate}} : * </ion-label>
              <ion-select [(ngModel)]="account.bank_name" name="bank_name" class="form-control" required #name="ngModel">
                <ion-option value="01" selected="selected">BMCE</ion-option>
                <ion-option value="02">BANQUE POPULAIRE</ion-option>
                <ion-option value="03">ATTIJARI WAFA BANQUE</ion-option>
                <ion-option value="04">SGMB</ion-option>
                <ion-option value="05">CREDIT AGRICOL</ion-option>
                <ion-option value="06">CREDIT DU MAROC</ion-option>
                <ion-option value="07">BMCI</ion-option>
                <ion-option value="08">TRESORERIE GENERALE</ion-option>
                <ion-option value="09">CHEQUES POSTAUX</ion-option>
                <ion-option value="10">ARABE BANQUE</ion-option>
                <ion-option value="11">CIH</ion-option>
                <ion-option value="13">CAISSE DEPOT ET GESTION</ion-option>
                <ion-option value="14">BANQUE DE MAROC</ion-option>
                <ion-option value="16">UNION MAROCAINE DE BANQUE</ion-option>
                <ion-option value="17">BARID BANK</ion-option>
                <ion-option value="19">CFG BANK</ion-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label floating> {{"agence" | translate}} : </ion-label>
              <ion-input type="text" [(ngModel)]="account.agence" name ="agence"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label floating> {{"code_bank" | translate}} : *</ion-label>
              <ion-input type="number" [(ngModel)]="account.bqe" name="bqe"
              class="form-control" minlength="3" maxlength="3" required #name="ngModel"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label floating> {{"localite" | translate}} : *</ion-label>
              <ion-input type="number" [(ngModel)]="account.gui" name="gui"
              class="form-control" maxlength="5" required #name="ngModel"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label floating> {{ "ref_compte" | translate}} : *</ion-label>
              <ion-input type="text" [(ngModel)]="account.cpt" name="cpt"
              class="form-control" maxlength="16" required #name="ngModel"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label floating> {{"cle" | translate}} : *</ion-label>
              <ion-input type="number" [(ngModel)]="account.cle" name="cle"
              class="form-control" minlength="2" maxlength="2" required #name="ngModel"></ion-input>
            </ion-item>
            <ion-item class="check">
              <ion-label> {{"accept_dom" | translate}} </ion-label>
              <ion-checkbox color="dark" checked="false" [(ngModel)]="account.accept"
                name="accept" class="form-control" required #name="ngModel" (ionChange)="openModal($event)">
              </ion-checkbox>
            </ion-item>
            <ion-card>
              <ion-card-content>
              * : {{"obligatoire" | translate}}
              </ion-card-content>
            </ion-card>
            <button ion-button type="button" block class="btn-margin" (click)="getBack(1)"> {{ "precedent" | translate }} </button>
            <button ion-button type="submit" block (click)="formBank()" [disabled]="!bankForm.form.valid"> {{"valider" | translate}} </button>
          </form>
        </ion-slide>
      </div>
    </div>
  </ion-slides>
</ion-content>
