<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title> {{"devis" | translate}} </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf='noCta'>
    <ion-card>
      <ion-card-content>
        {{"no_cta_msg" | translate}}
      </ion-card-content>
    </ion-card>
  </div>
  <div *ngIf='!noCta'>
    <ion-item class="top-item">
      <ion-label floating>{{"cta_type" | translate}}</ion-label>
      <ion-select [(ngModel)]="devis.objet" name="object" (ionChange)="changeDevis($event)" >
        <ion-option  *ngFor=" let cta of listCta; let i=index " [value]="cta.num" [selected]="cta.num == this.defaultCta">{{cta.num}}-{{cta.type}}</ion-option>
      </ion-select>
    </ion-item>
    <div *ngIf="isEmpty">
      <ion-card>
        <ion-card-content>
          {{"no_facture_msg" | translate}}
        </ion-card-content>
      </ion-card>
    </div>
    <div *ngIf="!isEmpty">
      <ion-item text-wrap *ngFor=" let devis of deviss" >
        <ion-label>
          <div class="one-line">
            <div class="left-side">N° </div>
            <div class="right-side"> {{devis.NUM_DEV}} </div>
          </div>
          <div class="one-line">
            <div class="left-side">Date</div>
            <div class="right-side"> {{devis.DAT_DEV}} </div>
          </div>
          <div class="one-line">
            <div class="left-side">Montant TTC</div>
            <div class="right-side"> {{devis.MNT_TTC_DEV}} </div>
          </div>
          <div class="one-line">
            <div class="left-side">Commentaire</div>
            <div class="right-side"> {{devis.CMT_DEV}} </div>
          </div>
        </ion-label>
      </ion-item>
    </div>
  </div>
</ion-content>
