page-factures {
  .impaye{
    background-color:#ff7171;
    margin-bottom: 2px;
  }
  .top-item{
    padding-bottom:20px;
  }
  .one-line{
    float:left;
    display: inline-block;
    width: 100%;
    font-size: 13pt;
    .left-side{
      float:left;
      width:50%;
    }
    .right-side{
      width:50%;
      float:left;
      font-weight: bold;
      padding-left: 2px;
    }
  }
}

page-show-facture{
  .top-item{
    padding-bottom:20px;
  }
  ion-item{
    padding-left: 0 !important;
  }
  .one-line{
    float:left;
    display: inline-block;
    width: 100%;
    font-size: 13pt;
    .left-side{
      float:left;
      width:50%;
    }
    .right-side{
      width:50%;
      float:left;
      padding-left: 2px;
      font-weight: bold;
    }
  }
  .details-section{
    margin-top: 10px;
  }
}