<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{"mesFactures" | translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf='noCta'>
    <ion-card>
      <ion-card-content>
        {{"no_cta_msg" | translate}}
      </ion-card-content>
    </ion-card>
  </div>
  <div *ngIf='!noCta'>
    <ion-item class="top-item">
      <ion-label floating> {{"cta_type" | translate}} </ion-label>
      <ion-select [(ngModel)]="facture.objet" name="object" (ionChange)="changeFacture($event)" >
        <ion-option  *ngFor=" let cta of listCta; let i=index " [value]="cta.num" [selected]="cta.num == this.defaultCta">{{cta.num}}-{{cta.type}}</ion-option>
      </ion-select>
    </ion-item>
    <div *ngIf="isEmpty">
      <ion-card>
        <ion-card-content>
          {{"no_facture_msg" | translate}}
        </ion-card-content>
      </ion-card>
    </div>
    <div *ngIf="!isEmpty">
    <ion-card>
      <ion-card-content class="impaye">
        {{"facture_color" | translate}}
      </ion-card-content>
    </ion-card>
      <button ion-item text-wrap *ngFor=" let facture of factures" (click)="showFacture(facture)"   [ngClass]="(facture.SLD_ECR !== '0,00') ? 'impaye' : ''">
        <ion-label>
          <div class="one-line">
            <div class="left-side">{{"no_facture" | translate}} : </div>
            <div class="right-side"> {{facture.ID_FAC_CLI}} </div>
          </div>
          <div class="one-line">
            <div class="left-side">{{"type_facture" | translate}} : </div>
            <div class="right-side"> {{facture.TYP_FAC}} </div>
          </div>
          <div class="one-line">
            <div class="left-side">{{"period" | translate}} : </div>
            <div class="right-side"> {{facture.NUM_PER_TAR}}/{{facture.ANNNE}} </div>
          </div>
          <div class="one-line">
            <div class="left-side">{{"montant" | translate}} : </div>
            <div class="right-side"> {{facture.MNT_FAC}} </div>
          </div>
          <div class="one-line">
            <div class="left-side">{{"solde" | translate}} : </div>
            <div class="right-side"> {{facture.SLD_ECR}} </div>
          </div>
          <div class="one-line">
            <div class="left-side">{{"exigibilite" | translate}} : </div>
            <div class="right-side"> {{facture.DAT_EXG}} </div>
          </div>
        </ion-label>
      </button>
    </div>
  </div>
</ion-content>
